<div>Logged In!</div>
<p><%= @current_user.buck_id %></p>
<%= form_with url: '/sessions/destroy', method: :delete, builder: MaterialDesignFormBuilder do |form| %>
  <%= form.submit "Log Out" %>
<% end %>
