<div class="mdc-form-field">
  <div class="mdc-checkbox mdc-theme--challenges">
    <input type="checkbox" class="mdc-checkbox__native-control" name="<%= name %>" />
    <div class="mdc-checkbox__background">
      <svg className="mdc-checkbox__checkmark" viewBox="0 0 24 24">
        <path
          className="mdc-checkbox__checkmark__path"
          fill="none"
          stroke="white"
          d="M1.73,12.91 8.1,19.28 22.79,4.59"
        />
      </svg>
    </div>
  </div>
  <% if local_assigns[:label] %>
    <label><%= label %>
  <% end %>
</div>
