<h2>People you can challenge</h2>
<form id="challenge-form" action="/challenge" method="post">
  <select form="challenge-form" name="challenge-form" class="form-control">
    {{#each this.challengeableUsers}}
        <option value={{this.SpotId}}>
          {{this.spotId}}: {{this.name}}
        </option>
    {{/each}}
  <input type="submit" class="btn btn-default" value="Challenge this person!"/>
  </select>
</form>
