html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}
