language: node_js

notifications: # set notification options
  email: false

sudo: false

node_js:
  - "6"


env:
  - CXX=g++-4.8

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.8
    - g++-4.8
services:
  - postgresql

before_script:
  - psql -c 'create database challenges_dev;' -U postgres
  - ./node_modules/db-migrate/bin/db-migrate up --config config/database.json -m db/migrations
  - npm run seed
  - npm install -g eslint
script:
  - "npm test"
