<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OSUMB Challenges</title>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/style.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/emoji.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/bower_components/fetch/fetch.js"></script>
  </head>
  <body>

    <div class="container">
      {{> page/navbar}}

      {{{body}}}
    </div>

  </body>
</html>
