.UserComments-comments {
  display: flex;
}

.UserComments-comment {
  flex: 1;
}

.UserComments-comment:nth-child(2) {
  border-left: 1px solid rgb(224, 224, 224);
}

.UserComments-header {
  margin-left: 8px;
  padding-top: 8px;
}
