.Dropdown-header {
  font-weight: bold;
}

.Dropdown-links {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

.Dropdown-link {
  background-color: #bfbfbf;
  color: white;
  padding-top: 4px;

  a {
    color: inherit;
  }
}
