@import '../style.scss';

.Navbar {
  align-items: center;
  background-color: $Challenges-light-gray;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 35px;
}

.Navbar-item {
  margin: 0 4px 0 4px;
}
