.ResultForUser {
  background-color: #f2f2f2;
  border: black solid 2px;
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}

.ResultForUser-comments {
  align-items: center;
  display: flex;
  font-size: inherit;
  padding: 2px 0 0 2px;
}

.ResultForUser-performance {
  align-items: center;
  background-color: #e6e6e6;
  border-bottom: black solid 1px;
  display: flex;
  font-size: inherit;
  font-weight: bold;
  justify-content: space-between;
  padding: 2px 0 0 2px;
  width: 100%;
}

.ResultForUser-opponent {
  align-items: center;
  border-bottom: black solid 1px;
  display: flex;
  font-size: inherit;
  padding: 2px 0 0 2px;
}

.ResultForUser-winner {
  align-items: center;
  border-bottom: black solid 1px;
  display: flex;
  font-size: inherit;
  padding: 2px 0 0 2px;
}
