.CompletedResultAdminView-text {
  padding: 0 16px;
}

.CompletedResultAdminView-text--wrapper {
  padding: 0 16px;
  display: flex;
}

.CompletedResultAdminView-text--winner {
  font-weight: bold !important;
}

.CompletedResultAdminView-text--center {
  flex: 1;
  text-align: center;
  font-weight: lighter;
}

.CompletedResultAdminView-text--left {
  flex: 1;
  text-align: left;
  font-weight: lighter;
}

.CompletedResultAdminView-text--right {
  flex: 1;
  text-align: right;
  font-weight: lighter;
}

.CompletedResultAdminView-winnerMarker--wrapper {
  display: flex;
  margin-top: -20px;
  padding: 0 16px;
}

.CompletedResultAdminView-winnerMarker--left {
  color: rgb(183, 28, 28);
  flex: 1;
  text-align: left;
}

.CompletedResultAdminView-winnerMarker--right {
  color: rgb(183, 28, 28);
  flex: 1;
  text-align: right;
}
