.CompletedResult {
  margin: 5px;
  width: 350px;
}

.CompletedResult-button {
  background-color: rgb(66, 66, 66) !important;
  color: white !important;
}

.CompletedResult-header {
  background-color: rgb(224, 224, 224) !important;
}

.CompletedResult-textWrapper {
  display: flex;
  margin: 0 5px;
}

.CompletedResult-text {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.CompletedResult-text:nth-child(2) {
  border-left: 1px solid rgb(224, 224, 224);
}
