.PendingResults {
  display: flex;
  flex-direction: column;
}

.PendingResults-button button {
  background-color: rgb(66, 66, 66) !important;
  color: white !important;
}

.PendingResults-header {
  align-items: center;
  display: flex;
  justify-content: center;
}

.PendingResults-header *  {
  margin: 0 5px;
}

.PendingResults-results {
  display: flex;
  flex-wrap: wrap;
}
