<h1>Welcome to OSUMB Challenge Manager</h1>
<h2>Challenge signup for {{performanceName}} begins on <span style="color: red">{{openTime}}</span>
  and ends at <span style="color: red">{{closeTime}}</span>. Are you ready?</h2>
