<h1>Welcome to OSUMB Challenge Manager</h1>
<h2>Challenge signup for {{performanceName}} begins on <span style="color: red">{{openAt}}</span> and ends at <span style="color: red">{{closeAt}}</span>. Are you ready?</h2>
