<h1>Login</h1>
{{#if message}}
<p>{{message}}</p>
{{/if}}
<form name="inputForm" id="inputForm" action="/login" method="post">
  <label for='POST-username')>Username</label>
  <input id="POST-name" type="text", name='username', placeholder="Username" autofocus>
  <label for='POST-password')>Password</label>
  <input id="POST-password" type="password", name='password', placeholder="Password">
  <input type="submit" value="Submit" class="btn btn-primary">
</form>
