.UpdateSpot-input {
  font-size: 13px;
  margin-right: 5px;
  width: 30px !important;
}

.UpdateSpot-input--bad {
  border-bottom-color: red;
}

.UpdateSpot-spot {
  align-self: center;
  width: 40px;
}

.UpdateSpot-wrapper {
  display: flex;
}
