version: 2
jobs:
  build:
    docker:
       - image: circleci/ruby:2.5.0-node-browsers
       - image: postgres:9.6.8
       - image: redis:3.2.9

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Gemfile.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle

      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}

      - run:
          name: rubocop
          command: |
            bundle exec rubocop .

      # Database setup
      - run:
          name: setup datebase
          command: |
            bundle exec rails db:reset

      # run tests!
      - run:
          name: rspec
          command: bin/rspec

      # collect reports
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results
