<div>
  <div class="mdc-typography--title">
    For the <%= discipline_action.performance.name %>, <%= discipline_action.user.first_name %> was disciplined for&nbsp;
    <%= discipline_action.reason %>
  </div>
</div>
