.PasswordChangeRequest {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.PasswordChangeRequest-inputs {
  display: flex;
  flex-wrap: wrap;
}

.PasswordChangeRequest-input {
  margin: 10px;
}

.PasswordChangeRequest-link {
  text-decoration: underline;
}

.PasswordChangeRequest-link:hover {
  cursor: hand;
  cursor: pointer;
}
