.Header {
  background-color: #333333;
  border-bottom: 6px solid #bb0000;
  display: flex;
  flex-wrap: nowrap;
  max-height: 70px;
  text-shadow: 1px 1px 0 #444;
}

.Header-image {
  height: 65px;
  width: 130px;

  padding: 5px 5px 5px 0;
}

.Header-title {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.Header-main {
  color: white;
  font-family: "Times New Roman";
  margin: 0 0 10px 0;
  padding: 5px 5px 0 5px;
}

@media (max-width: 900px) {
  .Header-main span {
    display: none;
  }

  .Header-main::after {
    content: 'OSUMB Challenges';
    font-size: 20px;
  }

  .Header-image {
    height: 50px;
    width: 100px;
  }
}
