@media (max-width: 850px) {
  .Header-main span {
    display: none;
  }

  .Header-main::after {
    content: 'OSUMB'
  }

  .Header-sub {
    font-size: 22px;
  }
}

.Header {
  background-color: #b30000;
  display: flex;
  flex-wrap: nowrap;
  max-height: 120px;
  text-shadow: 1px 1px 0 #444;
}

.Header-image {
  height: 110px;
  width: 200px;

  padding: 5px 5px 0 0;
}

.Header-title {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.Header-main {
  color: white;
  margin: 0 0 10px 0;
  padding: 5px 5px 0 5px;
}

.Header-sub {
  color: white;
  padding: 0 0 5px 5px;
}
