html {
  height: 100%;
}

body {
  display: flex;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  padding: 20px;
}

a {
  color: #00B7FF;
}

.osumb-logo {
  width: 50%;
  height: 100%;
}

.conatiner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@import './performances/new.scss';
@import './results/approve.scss';
@import './users/search.scss';
