* {
  box-sizing: border-box;
}

:after, :before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  display: block;
  height: 100%;
  margin: 0px;
}

.App {
  display: flex;
  width: 100%;
  flex-direction: column;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 10px;
  margin-top: 20px;
}

@import './stylesheets/body.scss';
@import './stylesheets/login.scss';
@import './stylesheets/navbar.scss';
@import './stylesheets/header.scss';
@import './stylesheets/challenges/new.scss';
@import './stylesheets/performances/new.scss';
@import './stylesheets/results/approve.scss';
@import './stylesheets/results/evaluation.scss';
@import './stylesheets/results/result-table.scss';
@import './stylesheets/users/show.scss';
@import './stylesheets/users/show-admin.scss';
@import './stylesheets/users/search.scss';
@import './stylesheets/static-pages/no-auth.scss';
