<div class="challenges-app-container-column">
  <%= render "users/user_header" %>
  <%= render "performances/next" %>
  <% if current_user.performer? %>
    <%= render "users/performer_profile" %>
  <% else %>
    <%= render "users/admin_profile" %>
  <% end %>
</div>
