<div class="challenges-user-header">
  <% if current_user.performer? %>
    <div class="challenges-user-header-circle">
      <h3 class="challenges-user-header-circle-text"><%= current_user.current_spot.to_s %></h3>
    </div>
  <% else %>
    <h1 class="challenges-user-header-admin">Admin</h1>
  <% end %>
  <h1 class="challenges-user-header-name"><%= current_user.full_name %></h1>
</div>
