{{> challengeWindow}}
{{#unless user}}
  {{#if message}}
  <p class="Login-failed">{{message}}</p>
  {{/if}}
  <form class="Login" name="loginForm" id="loginForm" action="/login" method="post">
    <label for='username'>Username</label>
    <input type="text", name='username', placeholder="name.#" autofocus>
    <label for='password'>Password</label>
    <input type="password", name='password', placeholder="Password">
    <input class="Login-button" type="submit" value="Submit" class="">
  </form>
{{/unless}}
