{{#if message}}
<p class="Login-failed">{{message}}</p>
{{/if}}
<form class="Login" name="loginForm" id="loginForm" action="/login" method="post">
  <span class="Login-input-wrapper">
    <label for='username'>Username</label>
    <input class="Login-input" type="text", name='username', placeholder="name.#" autofocus>
  </span>
  <span class="Login-input-wrapper">
    <label for='password'>Password</label>
    <input class="Login-input" type="password", name='password', placeholder="Password">
  </span>
  <span class="Login-input-wrapper">
    <input class="Login-button ChallengesButton" type="submit" value="Submit" class="">
  </span>
</form>
