<table class="mui-body" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="mui-panel">
      <center>
        <!--[if mso]><table><tr><td class="mui-container-fixed"><![endif]-->
        <div class="mui-container">
          <div class="mui--text-headline">
            <span style="padding-right: 350px;">Hello,</span>
            <%= image_tag("script_ohio_scarlet.jpg", size: '128x80') %>
          </div>
          <div class="mui--text-body2">
            Attached is the challenge list for this week
          </div>
          <br />
          <div class="mui--text-title">
            Thanks,
            <br />
            OSUMB IT Office
          </div>
        </div>
        <!--[if mso]></td></tr></table><![endif]-->
      </center>
    </td>
  </tr>
</table>
