# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 2e1d8e9bad69c80a2ccb930bc03ab018577c89869df0b504f3d8d1b10b6b89dfbe32aeb6009fefb52cc876b6e4ff2bc527e7320064396940944e53c7c7f5d316

test:
  secret_key_base: d4ab5c41e46d8435ac0132a3c4d19d89c8bc30903db9a0dacd069b381d420f05f0e8ab5d78c93c244898f2d8acbc4b135d4b7083b7f23439d3163676d7310f5c

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

stating:
  secret_key_base: <%= ENV["SECRET"] %>

production:
  secret_key_base: <%= ENV["SECRET"] %>
