.ErrorBanner {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.ErrorBanner-message {
  background-color: #ffcdd2;
  border: 1px solid #ff8a80;
  border-radius: 5px;
  display: flex;
  max-width: 50%;
  padding: 5px 10px;
}

.ErrorBanner-buttonContainer {
  display: flex;
  flex-direction: column;
}

.ErrorBanner-text {
  flex: 1;
}

.ErrorBanner-button {
  margin-left: 5px;
}

.ErrorBanner-buttonPadding {
  flex: 1;
}
