.MobileNav-container {
  display: flex;
  flex-direction: column;
  min-height: 60px;
}

.MobileNav {
  flex: 1;
  min-height: 50px;
}

.MobileNav h1 {
  margin-left: 1px !important;
}

#MobileNav-headerInput {
  border-radius: 4px;
}

#MobileNav-searchHeader {
  display: flex;
}

#MobileNav-searchInput {
  font-size: 14px;
  margin-top: 5px;
  position: absolute;
  width: 98%;
}
