{{#if nextPerformance}}
  <h1>Who do you want to challenge for the {{nextPerformance.name}}?</h1>
  {{> challenge-select}}
{{else}}
  <h1>Sorry! There is currently no performance for which to make a challenge</h1>
{{/if}}
