.NewPerformanceForm {
  display: flex;
  flex-direction: column;
}

.NewPerformanceForm-item {
  align-self: flex-start;
  font-size: 30px;
  padding-bottom: 5px;
}

.NewPerformanceForm-input {
  font-size: 18px;
}

.NewPerformance-warning {
  color: red;
}

@media (max-width: 414px) {
  .NewPerformanceForm-item {
    font-size: 14px;
  }

  .NewPerformanceForm-input {
    font-size: 12px;
  }
}
