.Title {
  background-color: #b30000;
  text-shadow: 1px 1px 0 #444;
}

.Title-main {
  color: white;
  margin: 0 0 10px 0;
  padding: 5px 5px 0 5px;
}

.Title-sub {
  color: white;
  padding: 0 0 5px 5px;
}
