<h1>Login</h1>
{{#if message}}
<p>{{message}}</p>
{{/if}}
<form name="loginForm" id="loginForm" action="/login" method="post">
  <label for='username'>Username</label>
  <input type="text", name='username', placeholder="name.#" autofocus>
  <label for='password'>Password</label>
  <input type="password", name='password', placeholder="Password">
  <input type="submit" value="Submit" class="btn btn-primary">
</form>
