.UserIndex {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 90%;
}

.UserIndex-header {
  display: flex;
  flex: 1;
  flex-direction: row;
  font-size: 20px;
  flex-wrap: nowrap;
  font-weight: bold;
  margin-bottom: 25px;
  min-height: 20px;
}

.UserIndex-headerItem {
  flex: 1;
}

.UserIndex-user {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 20px;
}

.UserIndex-userItem {
  flex: 1;
}

.UserIndex-editSpot {
  margin-left: 15px;
}
