.Profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.Profile-container {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Profile-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 10px;
}

.Profile-title-name {
  align-self: center;
  padding-left: 10px;
}

.Profile-title-spot {
  background: #b30000;
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 30px;
  height: 100px;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  width: 100px;
}

.Profile-title-spot-text {
  align-self: center;
}

@media (max-width: 769px) {
  .ResultTable-performance-name, .ResultTable-performance-date {
    font-size: 20px;
  }

  .ResultTable-opponent h2, .ResultTable-winner h2, .ResultTable-comments h2 {
    font-size: 20px;
  }
}

@media (max-width: 415px) {
  .CurrentChallenge {
    font-size: 18px;
  }

  .Profile-title-spot {
    font-size: 20px;
    height: 60px;
    width: 60px;
  }

  .ResultTable-header {
    font-size: 18px;
  }

  .Profile-title-name {
    font-size: 20px;
  }

  .ResultTable-performance-name, .ResultTable-performance-date {
    font-size: 15px;
  }

  .ResultTable-opponent h2, .ResultTable-winner h2, .ResultTable-comments h2 {
    font-size: 15px;
  }
}
