.AdminProfile {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.AdminProfile-container {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.AdminProfile-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.AdminProfile-name {
  align-self: center;
  padding-left: 10px;
}

.AdminProfile-title {
  align-self: center;
  background-color: #b30000;
  color: white;
  font-size: 30px;
}
