<div class="AdminProfile">
  <div class="AdminProfile-header">
    <div class="AdminProfile-title">
      &nbsp;&nbsp;Admin&nbsp;&nbsp;
    </div>
    <div class="AdminProfile-name">
      <h1>{{user.name}}</h1>
    </div>
  </div>
  {{> challenge-window}}
  <div>
    <h2>Create Performance</h2>
    <h4>Make a new performance for a challenge</h4>
  </div>
  <div>
    <h2>Approve Results</h2>
    <h4>Approve pending challenge results</h4>
  </div>
  <div>
    <h2>Manage Users</h2>
    <h4>Search through all performers to manage his/her spot</h4>
  </div>
</div>
