<div class="UserSearch">
  <div class="UserSearchPadding"></div>
  <div class="UserSearchCenter">
    <input type="text" class="UserSearch-search" autofocus placeholder="Search For A User!" />
    <div class="UserSearchResultsList">
      <div class="UserSearchPadding"></div>
      <div class="UserSearch-results"></div>
      <div class="UserSearchPadding"></div>
    </div>
  </div>
  <div class="UserSearchPadding"></div>
</div>
<script src="/public/js/users/make-ineligible.js"></script>
