<div class="UserSearch">
    <form>
      <input autofocus class="UserSearch-search" placeholder="Search for a user!" type="text">
    </form>
    <div class="UserSearchResultsList">
      <div class="UserSearch-results"></div>
    </div>
</div>
