<div class="Settings">
  {{#if message}}
    <h2>{{message}}</h2>
  {{else}}
    <h1 class="Settings-title">Settings</h1>
  {{/if}}
  <h2>Change Password</h2>
  <label>Old Password</label>
  <input class="ChangePassword-old" type="password" />
  <label>New Password</label>
  <input class="ChangePassword-new" type="password" />
  <label>Re-Type New</label>
  <input class="ChangePassword-retype" type="password" />
  <button class="ChallengesButton ChangePassword-submit">Change Password</button>
</div>
