<div class="Profile">
  <div class="Profile-container">
    <div class="Profile-title">
      <div class="Profile-title-spot">
        <div class="Profile-title-spot-text">
          {{user.spotId}}
        </div>
      </div>
      <h1 class="Profile-title-name">{{user.name}}</h1>
    </div>
    {{> challenge-window}}
    {{> currentChallenge}}
    {{> results}}
  </div>
</div>
