/*
*= require mdc.min.css
*= require jquery.datetimepicker.min.css
*= require_tree .
*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
}

body {
  overflow-x: hidden;

  /* Colors */
  --colors-light-gray: #e0e0e0;
  --colors-primary-gray: #b3b3b3;
  --colors-primary-red: rgb(183, 28, 28);
  --colors-secondary-gray: #3d3d3d;

  /* Screen Sizes */
  --screen-sizes-landscape-height-IPad: 768px;
  --screen-sizes-landscape-height-IPadPro: 1024px;
  --screen-sizes-landscape-width-IPad: 1024px;
  --screen-sizes-landscape-width-IPadPro: 1366px;
  --screen-sizes-portrait-height-IPad: 1024px;
  --screen-sizes-portrait-height-IPadPro: 1366px;
  --screen-sizes-portrait-width-IPad: 768px;
  --screen-sizes-portrait-width-IPadPro: 1024px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

input[type=submit] {
  color: white !important;
}

.challenges-app {
  height: calc(100% - 146px); /* body - (header + navbar + margin-top) */
  margin-top: 12px;
  padding: 0 8px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.challenges-app-container-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.challenges-app-container-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.challenges-button-primary {
  background-color: var(--colors-primary-gray);
  color: white;
}

.challenges-button-secondary {
  background-color: var(--colors-secondary-gray);
}

.challenges-center-text {
  text-align: center;
}
