<h2>Create New Performance</h2>
<div class="newPerformanceForm">
  <div class="newPerformanceForm-item">
    <input type="text" class="performanceName" autofocus placeholder="Name" />
  </div>
  <div class="newPerformanceForm-item">
    <label>Date of performance</label>
    <input type="text" id="performanceDate" class="performanceDate" placeholder="2016-09-03"/>
  </div>
  <div class="newPerformanceForm-item">
    <label>When does the challenge window open?</label>
    <input type="text" id="openAt" class="openAt" placeholder="2016-09-03 1:00 PM"/>
  </div>
  <div class="newPerformanceForm-item">
    <label>When does the challenge window close?</label>
    <input type="text" class="closeAt" placeholder="2016-09-03 4:10 PM"/>
  </div>
  <div class="newPerformanceForm-item">
    <input type="submit" class="btn btn-default newPerformanceSubmit" value="Submit" />
  </div>
</div>
<script src="/public/js/performances/new.js"></script>
