.challenges-user-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8px 0;
  margin-bottom: 8px;
}

.challenges-user-header-name {
  align-self: center;
  margin: 0;
  white-space: nowrap;
}

.challenges-user-header-circle {
  background: var(--colors-primary-red);
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 30px;
  height: 100px;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  width: 100px;
  margin-right: 8px;
}

.challenges-user-header-circle-text {
  align-self: center;
}

.challenges-user-header-admin {
  color: var(--colors-primary-red);
  margin: 0;
  padding-right: 12px;
}
