.challenges-users-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.challenges-users-show-edit {
  display: flex;
  width: 100%;
}

.challenges-users-show-edit-part-select {
  margin: 0 8px 0 16px;
}

.challenges-users-show-edit-part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.chalelnges-users-show-edit-spot {
  display: flex;
  justify-content: center;
  flex: 1;
}

.challenges-users-show-info {
  display: flex;
  width: 100%;
  flex: 1;
}

.challenges-users-show-info-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  margin: 16px;
  padding: 8px;
  overflow: scroll;
}

.challenges-users-show-info-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  flex: 1;
  margin: 16px;
  padding: 8px;
  overflow: scroll;
}

.challenges-users-show-info-grid-item {
  margin: 4px;
}

.challenges-users-show-discipline-actions-title {
  width: 100%;
  text-align: center;
}
