<a class="Navbar-link" href="/performances/new">Create Performance</a>
<a class="Navbar-link" href="/performances/results/toapprove">Approve Results</a>
<a class="Navbar-link" href="/users/manage">Manage Users</a>
