<a class="Navbar-link Navbar-link-performance" href="/performances/new"><span>Create Performance</span></a>
<a class="Navbar-link Navbar-link-results" href="/performances/results/toapprove"><span>Approve Results</span></a>
<a class="Navbar-link Navbar-link-users" href="/users/manage"><span>Manage Users</span></a>
<a class="Navbar-link Navbar-link-roster" href="/users"><span>Roster</span></a>
{{#if user.resultsIndexPermission}}
  <a class="Navbar-link Navbar-link-resultsIndex" href="/results"><span>Past Results</span></a>
{{/if}}
