<div class="Navbar">
  {{#if user}}
    <div class="Navbar-item">
      <a class="Navbar-home" href="/{{user.nameNumber}}">Home</a>
      {{#if user.admin}}
        {{> page/admin-navbar }}
      {{else}}
        {{> page/user-navbar }}
      {{/if}}
    </div>
    <a class="Navbar-logout" href="/logout">Logout</a>
  {{else}}
    <a class="Navbar-home" href="/">Home</a>
  {{/if}}
</div>
