<div class="Header">
  <div class="Header-title">
    <h1 class="Header-main">Ohio State University Marching Band</h1>
    <h2 class="Header-sub">Challenge Manager</h2>
  </div>
  <div>
    <img class="Header-image" src="/public/images/diamond-ohio.png" />
  </div>
</div>
