<div class="Header">
  <div class="Header-title">
    <h1 class="Header-main"><span>OSUMB Challenge Manager</span></h1>
  </div>
  <div>
    <img class="Header-image" src="/public/images/script-ohio-white.png" />
  </div>
</div>
