{{#if user.eligible}}
  {{#if currentPerformance}}
    <li><a href="/performances/{{currentPerformance.id}}/challenges/new">Make A Challenge</a></li>
  {{/if}}
{{/if}}
{{#if user.squadLeader}}
  {{#unless user.eligible}}
    <li><a href="/performances/results/evaluate">Evaluate Challenges</a></li>
  {{/unless}}
{{/if}}
