{{#if user.eligible}}
  {{#if currentPerformance}}
    <li><a href=/challenges/{{currentPerformance.id}}/new>Make A Challenge</a></li>
  {{/if}}
{{/if}}
{{#if user.squadLeader}}
  {{#unless user.eligible}}
    <li><a href="/results/eval">Evaluate Challenges</a></li>
  {{/unless}}
{{/if}}
