<a class="Navbar-link" href="/performances/challenges/new">Make A Challenge</a>
{{#if user.squadLeader}}
  <a class="Navbar-link" href="/performances/results/evaluate">Evaluate Challenges</a>
{{/if}}
