.ResultsApprove {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  padding-top: 10px;
  width: 80%;
}

.ResultsApproveList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.ResultsApproveList-item {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin: 5px;
  max-width: 350px;
  min-width: 350px;
}

.ResultsApproveList-item-header {
  background-color: #e6e6e6;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  padding-bottom: 4px;
}

.ResultsApproveList-item-header-winner {
  font-weight: bold;
}

.ResultsApproveList-item-header-checkbox {
  height: 100%;
  margin: 5px;
}

.ResultsApproveList-item-header-item {
  flex-grow: 1;
  margin: 5px;
  height: 100%;
}

.ResultsApproveList-item-body {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.ResultsApproveList-item-body-left {
  flex: 1;
  margin: 4px;
}

.ResultsApproveList-item-body-right {
  border-left: 1px solid black;
  flex: 1;
  margin: 4px;
  padding-left: 4px;
}
