.ResultEvaluations {
  display: flex;
  padding-top: 10px;
  width: 80%;
}

.ResultsEvaluation {
  border: 1px solid black;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 4px 0 4px;
}

.ResultsEvaluation-comments {
  display: flex;
  flex-direction: row;
  min-height: 200px;
}

.ResultsEvaluation-header {
  background-color: #e6e6e6;
  display: flex;
}

.ResultsEvaluation-firstNameNumber {
  flex: 1;
  padding-left: 4px;
}

.ResultsEvaluation-spot {
  font-size: 20px;
  font-weight: bold;
}

.ResultsEvaluation-secondName {
  padding-right: 4px;
}

.ResultsEvaluation-secondNameNumber {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-right: 4px;
}

.ResultsEvaluation-firstComments {
  flex: 1;
}

.ResultsEvaluation-secondComments {
  flex: 1;
}

.ResultsEvaluation-submit {
  border-radius: 0px;
}
