.ResultTable {
  background-color: #f2f2f2;
  border: black solid 2px;
  display: flex;
  flex-direction: column;
}

.ResultTable-container {
  display: flex;
  flex-direction: column;
}

.ResultTable-comments {
  align-items: center;
  display: flex;
  padding: 2px 0 0 2px;
}

.ResultTable-header {
  align-self: flex-start;
}

.ResultTable-performance {
  align-items: center;
  background-color: #e6e6e6;
  border-bottom: black solid 1px;
  display: flex;
  padding: 2px 0 0 2px;
  width: 100%;
}

.ResultTable-performance-date {
  margin-left: 6px;
  padding-right: 5px;
}

.ResultTable-opponent {
  align-items: center;
  border-bottom: black solid 1px;
  display: flex;
  padding: 2px 0 0 2px;
}

.ResultTable-winner {
  align-items: center;
  border-bottom: black solid 1px;
  display: flex;
  padding: 2px 0 0 2px;
}
