<%= stylesheet_link_tag "header" %>
<div class="mdc-toolbar mdc-toolbar--fixed challenges-toolbar">
  <div class="mdc-typography--display1">
    &nbsp;OSUMB Challenge Manager
  </div>
  <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
    <%= image_tag "script-ohio-white.png", class: "challenges-toolbar--header" %>
  </section>
</div>
